<div class="container margin-top-container">
  <h1>{{ book.title }}</h1>
  <dl class="list">
    <dt>ISBN</dt>
    <dd>{{ book.isbn }}</dd>
    <dt>Author</dt>
    <dd>{{ book.author }}</dd>
    <dt>Publisher</dt>
    <dd>{{ book.publisher }}</dd>
    <dt>published_year</dt>
    <dd>{{ book.published_year }}</dd>
    <dt>Update Date</dt>
    <dd>{{ book.updated_date }}</dd>
  </dl>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-1">
      <a [routerLink]="['/book-edit', book._id]" class="btn btn-success">EDIT</a>
    </div>
    <div class="col-md-1">
        <button class="btn btn-danger" type="button" (click)="deleteBook(book._id)">DELETE</button>
      </div>
  </div>
</div>