<div class="container margin-top-container">
  <h1>Book List
    <a [routerLink]="['/book-create']" class="btn btn-default btn-lg">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    </a>
  </h1>
  <table class="table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Publisher</th>
        <th>published_year</th>
        <th>Update Date</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let book of books">
        <td>{{ book.title }}</td>
        <td>{{ book.author }}</td>
        <td>{{ book.publisher }}</td>
        <td>{{ book.published_year }}</td>
        <td>{{ book.updated_date }}</td>
        <td><a style="cursor: pointer;" (click)="show(book._id)">Show Detail</a></td>
      </tr>
    </tbody>
  </table>
</div>