<p-dialog header="Create User" [(visible)]="display">
    <div style="width: 500px;">
        <form class="form-signin" (ngSubmit)="signUp()" #signupForm="ngForm">
            <h2 class="form-signin-heading">Sign Up Now</h2>
            <label for="inputEmail" class="sr-only">Email address</label>
            <input type="email" class="form-control" placeholder="Email address" [(ngModel)]="signUpData.username"
                name="username" required />
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" class="form-control" placeholder="Password" [(ngModel)]="signUpData.password"
                name="password" required />
            <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="!signupForm.form.valid">Sign Up</button>
        </form>
    </div>
</p-dialog>