<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <app-stock-dropdown (stockOnChange)="stockOnChange($event)"></app-stock-dropdown>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <app-stock-line-chart [stockList]="stockList"></app-stock-line-chart>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <app-stock-table [stockList]="stockList"></app-stock-table>
        </div>
    </div>
</div>